.password_eye {
    /*background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-eye-512.png'); */
    background-size: 23px 23px; /* Change the size to 20px by 20px */
    width: 1.8vw; /* Set the width of the element */
    height: 1.8vw; /* Set the height of the element */
    position:'absolute';
    /* top: 50%; */
    left: 83%;
    cursor: pointer;
    transform: translate(0,0); 
    
  }
@media (max-width:800px) {
  .password_eye {
    width: 4.8vw; /* Set the width of the element */
    height: 4.8vw; /* Set the height of the element */
    left: 84%;
  }
}
  
  
  .dark_mode {
    width: 1.61vw;
    height: 3.1vh;
    transform: translate(.78125vw, .333vh);
    border: 2px solid #ffffff27; /* Add a border with color */
    border-radius: 50%;
    
    
  }